/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #000000;
  --first-color-alt: #7f7f7f;
  --text-color-light: #A6A6A6;
  --body-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  margin: 0;
  font-family: var(--body-font);
  font-size: 12pt;
  background-color: var(--body-color);
  color: var(--first-color-alt);
  line-height: 1.6;
  overflow-x: hidden;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 8rem 0 4rem;
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 880px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.l-main{
  width: 100%;
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img{
  max-width: 30%; 
  height: auto;
}

.nav-list{
  display: flex;
}

.nav-item{
  font-size: 12pt;
  margin-left: var(--mb-5);
  margin-bottom: 0;
}

.nav-link, .nav-toggle{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.nav-link{
  transition: .3s;
}

.nav-link:hover{
  color: var(--first-color-alt);
}

.nav-toggle{
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

.nav-menu.show-menu{
  top: var(--header-height);
}

.active-link{
  color: var(--first-color-alt);
}

.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: var(--first-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--text-color-light);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home-container{
  height: 100vh;
  grid-template-columns: repeat(2,1fr);
  display: grid;
  align-items: center;
  justify-items: center; 
  
}

.home-data{
  text-align: left;
}

.home-title{
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home-text{
  font-size: 12pt;
}

.home-img{
  display: flex;
  justify-content: right;
}

.home-img video{
  width: 70%;
  display: block;
  object-fit: cover;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.social-icons a {
  width: 20px;
  height: auto;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-icons a:hover {
  transform: translateY(-5px);
}   

/*========== ABOUT ==========*/
.about-container{
  align-items: center;
  justify-items: center; 
}

.about-data{
  text-align: center;
}

.about-tittle{
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about-statistik {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.about-statistik p {
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    color: rgb(79, 78, 78);
    font-size: 0.9rem;
    box-shadow: 0 4px 15px rgba(92, 93, 95, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 210px;
}

.about-statistik p:hover {
    transform: translateY(-5px);
}

.about-statistik strong {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/*========== SERVICE ==========*/
.service-container{
  align-items: center;
  justify-items: center; 
}

.service-data{
  text-align: center;
}

.service-tittle{
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.service-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.service-item {
  background: white;
  padding: 1.5rem;
  border-radius: 15px;
  height: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12pt;
  font-weight: 600;
  color: var(--first-color-alt);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.service-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s ease;
  z-index: -1;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(84, 84, 84, 0.3);
}

.service-item:hover::before {
  left: 0;
}

/*========== TESTIMONY ==========*/
.testimony-container {
  align-items: center;
  justify-items: center;
}

.testimony-data {
  text-align: center;
}

.testimony-tittle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2rem;
  margin-bottom: .2rem;
}      

.testimony-content {
  position: relative;
  width: 100%;
  max-width: 250px;
}

.testimony-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: translateX(100%);
  pointer-events: none;
}

.testimony-card.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

.testimony-card.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

.testimony-card.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}

.testimony-card.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

.testimony-card.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

.testimony-card img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: var(--first-color-alt);
  flex-shrink: 0;
}

.nav-btn:hover {
  transform: scale(1.1);
}

.nav-btn:active {
  transform: scale(0.95);
}

.carousel-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.testimony-dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 0; 
  border: none;
  cursor: pointer;
  background: #cdcdcd;
  transition: all 0.3s ease;
}

.dot.active {
  background: var(--first-color-alt);
  width: 30px;
  border-radius: 6px;
}

.testimony-counter {
  font-size: 10pt;
  color: var(--first-color-alt);
  font-weight: 500;
}

#currentSlide {
  font-size: 10pt;
  color: var(--first-color-alt);
  font-weight: 500;
}

/*========== FOOTER ==========*/
.footer-container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer-text{
  font-size: 12pt;
}

.footer-copy{
  text-align: center;
  font-size: 10pt;
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

.footer-copy{
  color: var(--first-color-alt);
}
.footer-link {
    color: var(--first-color); 
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: var(--first-color-alt); 
}


/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 1024px){
  .section{
    padding: 5rem 0 3rem;
  }

  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .nav{
    padding: 0 1rem;
  }

  .nav-logo img{
    max-width: 40%;
  }

  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }

  .nav-list{
    flex-direction: column;
  }

  .nav-item{
    margin-left: 0;
    margin-bottom: var(--mb-2);
  }

  .nav-toggle{
    display: block;
    font-size: 25pt;
  }
  
  body{
    font-size: 11pt;
  }

  .section{
    padding: 8rem 0 4rem;
  }

  .bd-container{
    padding-left:2rem;
    padding-right: 2rem;
  }

  .nav{
    padding: 0 0.75rem;
  }

  .nav-logo img{
    max-width: 35%;
  }

  .home-container{
    min-height: calc(100vh - var(--header-height));
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
  }

  .home-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }

  .home-title{
    font-size: 1.5rem;
  }

  .home-text{
    font-size: 11pt;
  }


  .home-img video{
    width: 70%;
  }

  .social-icons a{
    width: 18px;
  }

  .home-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-img video{
    width: 80%;
    max-width: 300px;
  }

  .service-content{
    grid-template-columns: 1fr;
  }

  .service-item{
    height: 90px;
    font-size: 10pt;
    padding: 1rem;
  }

  .about-statistik{
    flex-direction: column;
    gap: 1rem;
  }

  .about-statistik p{
    width: 100%;
    max-width: 250px;
  }

  .testimony-content{
    max-width: 300px;
  }

  .nav-btn{
    font-size: 35px;
  }

  .carousel-wrapper{
    gap: 1rem;
  }

  .carousel-info{
    gap: 1rem;
  }

  .footer-container{
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }
  
  .footer-text{
    font-size: 11pt;
  }
}